<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--一定要在紧跟着configuration下面添加-->
  <configSections>
    <!--跟下面StrategyPatternWithSpringDemo节点配置是一一对应关系-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <!--spring节点配置-->
  <spring>
    <!--容器配置-->
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    
    <objects xmlns="http://www.springframework.net">
      <!--这里放容器的所有结点-->
      <description>An example that demonstrates simple IoC feature.</description>
                                       <!--<Name必须唯一的，type=namespace.type, namespace>-->
      <object name="UserInfoDal" type="NormalSpringDemo.EFUserInfoDal, NormalSpringDemo">
        <property name="Name" value="ZhangSan"/>
        <!--<ref指向下面的属性注入>-->
      <property name="UserInfo" ref="UserInfo"/>
      </object>
      
      <!--属性注入-->
      <object name="UserInfo" type="NormalSpringDemo.UserInfo, NormalSpringDemo">
        <property name="Name" value="LiSi"/>
      <property name="Age" value="15"/>
      </object>
      
      <!--构造函数注入-->
      <object name="UserInfoDal2" type="NormalSpringDemo.AdoNetUserInfoDal, NormalSpringDemo">
        <constructor-arg index="0" value="ZhangSan"/>
        <constructor-arg index="1" ref="UserInfo"/>
      </object> 
    
    </objects>
  </spring>
</configuration>